@use "/src/styles/tokens/semantics" as *;

.logo {
  display: flex;
  align-items: center;
  transition: scale 0.2s ease;
  gap: var(--s-spacing-2);

  @include screen-mouse-first {
    &:hover {
      scale: 1.02;
    }
  }

  @include screen-touch-first {
    &:active {
      scale: 1.02;
    }
  }

  &__title {
    color: var(--s-color-fg-primary);
    margin-top: var(--s-spacing-1);
    white-space: nowrap;
    
    font-size: clamp(1.2rem, 2.5vw + 0.6rem, 1.7rem);
    font-weight: 600; 
    font-family: outfit, sans-serif;
    
    line-height: 1.2;
  }

  &-icon {
    width: clamp(24px, 3vw + 16px, 48px) !important;
    height: clamp(24px, 3vw + 16px, 48px) !important;
  }
}

.cursor {
  display: inline-block;
  width: 0.6ch;
  margin-left: var(--s-spacing-1);
  background-color: currentcolor;
  opacity: 1;
  animation: blink 1s infinite;

  font-size: inherit;
  line-height: inherit;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}