.loader {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  transform-style: preserve-3d;
  perspective: 1500px;
  
  // Reduced motion support
  @media (prefers-reduced-motion: reduce) {
    perspective: none;
  }
}
