@use "/src/styles/tokens/semantics" as *;

.app-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    transition: opacity 0.5s ease-in;
}

.app-layout.intro-active {
    opacity: 0;
    pointer-events: none;
}

.app-layout__content {
    flex-grow: 1;
    padding: var(--spacing-400);
}
