@use "/src/styles/tokens/semantics" as *;

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: calc(100vh - 120px);
  color: var(--s-color-fg-primary);
  padding: var(--s-spacing-4) var(--s-spacing-2);
  overflow-x: hidden;

  // Extra small devices (phones, 320px and up)
  @media (min-width: 320px) {
    padding: var(--s-spacing-4) var(--s-spacing-2);
  }

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    padding: var(--s-spacing-6) var(--s-spacing-4);
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    padding: var(--s-spacing-8) var(--s-spacing-6);
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    padding: var(--s-spacing-10) var(--s-spacing-8);
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    padding: var(--s-spacing-12) var(--s-spacing-10);
  }

  &--root {
    min-height: 100vh;
    padding: 0;
  }
}