@use "/src/styles/tokens/semantics" as *;

.logo-icon {
  width: 48px;
  height: 48px;

  @include screen-xs {
    width: 36px;
    height: 36px;
  }

  @include screen-sm {
    width: 40px;
    height: 40px;
  }

  @include screen-md {
    width: 48px;
    height: 48px;
  }
}